*,*::before,*::after{
    box-sizing: border-box;
    // outline: 1px solid red;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
    line-height: 1.5;
}
img{
    max-width: 100%;
    height: auto;
    display: block;
}
a{
    text-decoration: none;
}
sub{
    vertical-align: sub;
}