.wrap-969{
    max-width: 969px;
    margin: 0 auto;
}
.wrap-1088{
    max-width: 1088px;
    margin: 0 auto;
}
.wrap-1039{
    max-width: 1039px;
    margin: 0 auto;
}
//---------------------------------
.bg-home{
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home.svg");
    background-repeat: no-repeat;
    height: 768px;
    background-position: top right;
    position: relative;
}
.top-btn{
    width: 71px;
    height: 71px;
    border-radius: 50%;
    background: #56C4C5;
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    bottom: 20px;
    right: 30px;
    p{
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
}
.bg-boy{
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/home.svg");
    background-repeat: no-repeat;
    height: 534px;
    background-position: top right;
}
.banner{
   display: flex;
   align-items: center;
   height: 534px;
   span{
        font-size: 18px;
        color: $text-title;
    }
    h1{
        font-size: 48px;
        font-weight: bold;
        color: $text-main;
        margin-bottom: 16px;
    }
    p{
        font-size: 20px;
        color: $text-main;
    }
}

// 三大平台
.plat{
    position: relative;
    h2{
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-top: 101px;
        margin-bottom: 20px;
    }
}
.bg-d-blue{
    position: absolute;
    top: -270px;
    width: 138px;
    height: 360px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball01.svg");
    background-position: right;
    z-index: -1;
}
.plat-items{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 100px;
    li{
        width: 26%;
    }
    img{
        width: 90px;
        margin-bottom: 24px;
        display: inline-block;
    }
    strong{
        font-size: 24px;
        font-weight: bold;
        color: $text-main;
        display: block;
        margin-bottom: 24px;
    }
    p{
        font-size: 16px;
        color: $text-secondary;
    }
}

// 角色
.role{
    text-align: center;
    margin-bottom: 124px;
    position: relative;
    h2{
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 16px;
    }
}
.bg-l-blue{
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball02.svg");
    background-repeat: no-repeat;
    width: 210px;
    height: 320px;
    z-index: -1;
    position: absolute;
    right: 0px;
    bottom: -123px;
}

.role-text{
    font-size: 20px;
    margin-bottom: 48px;
}
.card{
    display: flex;
    justify-content: space-between;
}
.card-body{
    width: 23%;
    font-size: 16px;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    background: white;
    img{
        border-radius: 12px 12px 0px 0px;
        margin-bottom: 16px;
    }
}
.card-footer{
    font-size: 16px;
    padding: 0 16px;
    padding-bottom: 24px;
    h4{
        color: $text-title;
        margin-bottom: 16px;
    }
    p{
        color: $text-secondary;
    }
}

// 方案費用
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}
.intro-l{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    li{
        box-shadow: 0px 2px 10px #00000014;
        border-radius: 12px;
        padding: 0 32px;
        padding-top: 32px;
        padding-bottom: 48px;
        width: 48%;
        height: 280px;
        &:nth-child(1),&:nth-child(2){
            margin-bottom: 28px;
        }
    }
    img{
        width: 50px;
        margin-bottom: 40px;
    }
    h4{
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 16px;
    }
    p{
        font-size: 16px;
    }
}
.intro-r{
    width: 40%;
    color: $text-main;
    h2{
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 16px;
    }
    p{
        font-size: 18px;
        margin-bottom: 24px;
    }
}
.intro-btn{
    width: 136px;
    height: 49px;
    background: $text-title;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
        color: white;
        font-size: 18px;
    }
}

// 好評
.comment{
    margin-bottom: 100px;
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/ball03.svg");
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: 45px 50px;
    h2{
        font-size: 32px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 104px;
    }
}
.comment-items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    li{
        width: 352px;
        box-shadow: 0px 2px 10px #00000014;
        border-radius: 12px;
        padding: 0 32px;
        padding-top: 48px;
        padding-bottom: 24px;
        position: relative;
        background: white;
    } 
}
.comment-photo{
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
}
.star-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    p{
        font-size: 16px;
    }
}
.star{
    display: flex;
    img{
        width: 16px;
        margin-left: 8px;
    }
}
.comment-page{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.circle{
    width: 10px;
    height: 10px;
    background: #DDDDDD;
    border-radius: 50%;
    margin: 5px;
}

// 
.footer-fee{
    background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/home_footer.svg);
    height: 503px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.footer-area{
    margin-bottom: 60px;
    h3{
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 48px;
    }
    a{
        background: $text-title;
        color: white;
        width: 136px;
        height: 49px;
        border-radius: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
}


//-------------------------------
@media (max-width: 576px) {
    .bg-home{
        background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/chatTalker_images/bg_home_sm.svg");
        background-repeat: no-repeat;
        background-position: center 390px;
    }
    .top-btn{
        width: 50px;
        height: 50px;
        bottom: 110px;
        right: 30px;
        p{
            font-size: 14px;
        }
    }
    .wrap, .wrap-1088{
        padding: 0 20px;
    }
    .bg-boy{
        background-size: 304px;
        background-position: bottom center;
    }
    .banner{
        align-items: initial;
        span{
             font-size: 16px;
         }
         h1{
             font-size: 32px;
         }
         p{
             font-size: 16px;
         }
    }

    // 三大平台
    .plat{
        h2{
            font-size: 28px;
            margin-bottom: 32px;
            margin-top: 98.5px;
        }
    }
    .bg-d-blue{
        top: 0;
        background-size: 126px;
        background-repeat: no-repeat;
        background-position: -65px 20px;
    }
    .plat-items{
        display: block;
        li{
            width: 70%;
            margin: 0 auto;
            margin-bottom: 24px;
            &:nth-child(3){
                margin-bottom: 0;
            }
        }
        img{
            width: 60px;
        }
        strong{
            font-size: 18px;
        }
        p{
            font-size: 16px;
        }
    }
    .card{
        display: block;
    }
    .card-body{
        width: 100%;
    }

    // 角色
    .role{
        h2{
            font-size: 28px;
        }
    }
    .role-text{
        font-size: 18px;
    }
    .card-body{
        width: 80%;
        margin: 0 auto;
        margin-bottom: 24px;
    }
    .bg-l-blue{
        background-size: 135px;
        width: 88px;
        height: 138px;
        right: 0;
        bottom: -50px;
    }
    
    .main{
        .intro-l{
            order: 1;
        }
        .intro-r{
            order: -1;
        }
        flex-wrap: wrap;
    }
    .intro-l{
        margin: 0 auto;
        li{
            width: 100%;
            padding: 0 24px;
            height: 284px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            &:nth-child(1),&:nth-child(2),&:nth-child(3){
                margin-bottom: 24px;
            }
        }
        img{
            width: 52px;
            margin-bottom: 24px;
        }
    }   
    .intro-r{
        width: 87%;
        margin: 0 auto;
        text-align: center;
        h2{
            font-size: 28px;
        }
        p{
            font-size: 16px;
            margin-bottom: 16px;
        }
    }
    .intro-btn{
        margin: 0 auto;
        margin-bottom: 32px;
    }

    // 好評
    .comment{
        background-size: 153px;
        background-position: -76px 41px;
        h2{
           font-size: 28px;
           margin-bottom: 90px;
        }
    }
    .comment-items{
        display: block;
        li{
            width: 100%;
            margin: 0 auto;
            &:nth-child(2),&:nth-child(3){
                display: none;
            }
        }
    }

    .footer-fee{
        height: 461px;
    }
    .footer-area{
        h3{
            font-size: 24px;
            margin-bottom: 24px;
        }
    }
}